name: GET 30m ChromeDriver Test

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # 3) 실행 (다른 job 또는 같은 job에서)
    - name: Run tests from registry
      run: |
        docker pull ghcr.io/${{ github.repository_owner }}/venv_get:latest

    - name: Run tests inside container
      run: |
        docker run --rm \
          -e LANG=ko_KR.UTF-8 -e LC_ALL=ko_KR.UTF-8 -e PYTHONIOENCODING=utf-8 \
          -v "$(pwd)":/app \ 
          -w /app \
          venv_get:latest \
          python main.py
