name: GET 6 Hour Windows ChromeDriver Test

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 */6 * * *'  # 매 6시간마다 정각에 실행 (UTC 기준)
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up QEMU and Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Cache Docker layers
      uses: actions/cache@v4
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ hashFiles('**/Dockerfile','**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: false
        tags: test-image:latest
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache

    - name: Run tests inside container
      run: |
        docker run --rm \
          -e LANG=ko_KR.UTF-8 -e LC_ALL=ko_KR.UTF-8 -e PYTHONIOENCODING=utf-8 \
          test-image:latest \
          python main1.py
